<a href="https://colab.research.google.com/github/theyashmishra/Deep-Learning/blob/main/determine_customer_who_leave_the_bank(neural_network_demo).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import pandas as pd;
import matplotlib.pyplot as plt;
import keras
#sequential mode is used for first layer
from keras.models import Sequential
# dense model is used for hidden layers
from keras.layers import Dense

In [8]:
df=pd.read_csv("Churn_Modelling.csv")

In [9]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [12]:
df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [26]:
df

      CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619          0       1  ...               1        101348.88       1
1             608          2       1  ...               1        112542.58       0
2             502          0       1  ...               0        113931.57       1
3             699          0       1  ...               0         93826.63       0
4             850          2       1  ...               1         79084.10       0
...           ...        ...     ...  ...             ...              ...     ...
9995          771          0       0  ...               0         96270.64       0
9996          516          0       0  ...               1        101699.77       0
9997          709          0       1  ...               1         42085.58       1
9998          772          1       0  ...               0         92888.52       1
9999          792          0       1  ...               0         38190.78       0

[10000 rows x 11 columns]

In [25]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
le1=LabelEncoder(); 
#converting text to numerical categories
df['Geography']=le1.fit_transform(df['Geography']); 
le2=LabelEncoder() 
df['Gender']=le2.fit_transform(df['Gender'])

In [27]:
X=df.drop(columns=['Exited'],axis=1)
y=df['Exited']

In [58]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [60]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler();
X_train=sc.fit_transform(X_train)

In [89]:
classifier=Sequential()
#adding first layer of the network input_dim tells about no. of input parameters
classifier.add(Dense(units=7,activation='relu',input_dim=10))
#adding hidden layers to our network relu is rectifier linear activation function i t works best for hidden layers
classifier.add(Dense(units=7,activation='relu'))
# our output is binary so thats why we used only one node as output
classifier.add(Dense(units=1,activation='sigmoid'))

In [90]:
#here we used adam which is minibatch stochastic gradient descent to find optimal value of weights
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [91]:
#here batch size is 10 and we have to rerun it 100 times on our data
classifier.fit(X_train,y_train,batch_size=10, epochs=100,verbose=1)

Epoch 1/100
800/800 [==============================] - 2s 1ms/step - loss: 0.5778 - accuracy: 0.7236
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4433 - accuracy: 0.8039
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4315 - accuracy: 0.8124
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4035 - accuracy: 0.8294
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8201
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8299
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3814 - accuracy: 0.8404
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3674 - accuracy: 0.8506
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3572 - accuracy: 0.8506
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3378 - accuracy: 0.8597
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3426 - accuracy: 0.8585
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3493 - accuracy: 0.8548
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8537
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3533 - accuracy: 0.8507
Epoch 15/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3361 - accuracy: 0.8636
Epoch 16/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3452 - accuracy: 0.8541
Epoch 17/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3419 - accuracy: 0.8617
Epoch 18/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3446 - accuracy: 0.8554
Epoch 19/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3440 - accuracy: 0.8579
Epoch 20/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3366 - accuracy: 0.8591
Epoch 21/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3355 - accuracy: 0.8605
Epoch 22/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3381 - accuracy: 0.8625
Epoch 23/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8590
Epoch 24/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3337 - accuracy: 0.8645
Epoch 25/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3321 - accuracy: 0.8657
Epoch 26/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3392 - accuracy: 0.8615
Epoch 27/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3432 - accuracy: 0.8663
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3373 - accuracy: 0.8603
Epoch 29/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3494 - accuracy: 0.8601
Epoch 30/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3275 - accuracy: 0.8700
Epoch 31/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3257 - accuracy: 0.8627
Epoch 32/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8608
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3351 - accuracy: 0.8584
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3374 - accuracy: 0.8632
Epoch 35/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3413 - accuracy: 0.8617
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3370 - accuracy: 0.8586
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3460 - accuracy: 0.8566
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8574
Epoch 39/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8543
Epoch 40/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3421 - accuracy: 0.8602
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3405 - accuracy: 0.8558
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3334 - accuracy: 0.8595
Epoch 43/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3321 - accuracy: 0.8652
Epoch 44/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3133 - accuracy: 0.8732
Epoch 45/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3260 - accuracy: 0.8663
Epoch 46/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3236 - accuracy: 0.8648
Epoch 47/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8583
Epoch 48/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3303 - accuracy: 0.8662
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3236 - accuracy: 0.8646
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3438 - accuracy: 0.8595
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3361 - accuracy: 0.8640
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3345 - accuracy: 0.8609
Epoch 53/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3245 - accuracy: 0.8646
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3442 - accuracy: 0.8602
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3357 - accuracy: 0.8624
Epoch 56/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3257 - accuracy: 0.8666
Epoch 57/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3251 - accuracy: 0.8679
Epoch 58/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3346 - accuracy: 0.8602
Epoch 59/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3364 - accuracy: 0.8644
Epoch 60/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3254 - accuracy: 0.8669
Epoch 61/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3306 - accuracy: 0.8652
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8634
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3197 - accuracy: 0.8684
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3328 - accuracy: 0.8624
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3363 - accuracy: 0.8619
Epoch 66/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3233 - accuracy: 0.8690
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3311 - accuracy: 0.8638
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3374 - accuracy: 0.8602
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3285 - accuracy: 0.8661
Epoch 70/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3316 - accuracy: 0.8697
Epoch 71/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3407 - accuracy: 0.8575
Epoch 72/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3299 - accuracy: 0.8619
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3216 - accuracy: 0.8722
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3237 - accuracy: 0.8696
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3322 - accuracy: 0.8641
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3316 - accuracy: 0.8625
Epoch 77/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8573
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3271 - accuracy: 0.8666
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3146 - accuracy: 0.8725
Epoch 80/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3368 - accuracy: 0.8634
Epoch 81/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3259 - accuracy: 0.8675
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3262 - accuracy: 0.8623
Epoch 83/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8600
Epoch 84/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3247 - accuracy: 0.8656
Epoch 85/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3271 - accuracy: 0.8693
Epoch 86/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3262 - accuracy: 0.8694
Epoch 87/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8612
Epoch 88/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3245 - accuracy: 0.8668
Epoch 89/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3311 - accuracy: 0.8670
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3439 - accuracy: 0.8606
Epoch 91/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3299 - accuracy: 0.8623
Epoch 92/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3362 - accuracy: 0.8574
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3320 - accuracy: 0.8659
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3339 - accuracy: 0.8634
Epoch 95/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3253 - accuracy: 0.8671
Epoch 96/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3285 - accuracy: 0.8671
Epoch 97/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3247 - accuracy: 0.8683
Epoch 98/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3305 - accuracy: 0.8644
Epoch 99/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3226 - accuracy: 0.8709
Epoch 100/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3185 - accuracy: 0.8737

In [92]:
y_pred=classifier.predict(sc.fit_transform(X_test));
y_pred=(y_pred>0.5)
y_pred=y_pred*1

In [93]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [94]:
from sklearn.metrics import classification_report,confusion_matrix
cr=classification_report(y_test,y_pred)
cm=confusion_matrix(y_test,y_pred)

In [95]:
print(cr)
print(cm)

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1595
           1       0.78      0.44      0.56       405

    accuracy                           0.86      2000
   macro avg       0.83      0.70      0.74      2000
weighted avg       0.85      0.86      0.85      2000

[[1546   49]
 [ 228  177]]